html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;

	font-family: sans-serif;

	background: rgba(25,39,13,0.97);
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;

	display: grid;

	grid-template-rows: [header-start] 3fr [header-end content-start] 22fr [content-end footer-start] 1fr [footer-end];
	grid-template-columns: [header-start] 2fr [content-start footer-start] 4fr [content-end footer-end] 2fr [header-end];
}

.header {
	grid-area: header;

	border-bottom: solid 1px black;
	background: rgba(89,58,14, 0.85);
	color: rgba(129,140,60,0.85);

	display: grid;
	grid-template-columns: auto 152px auto 152px auto;
	grid-template-rows: auto;
}

.title {
	grid-row: 1/-1;
	grid-column: 3/4;

	text-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

	text-align: center;
	padding-top: 1.2em;

	font-size: 2em;
    font-weight: bold;
}

.titlemobile {
	display: none;
}

.titledesktop {
	display: inline;
}

.content {
	grid-area: content;
	background: white;

	text-align: center;
	/*background: rgba(37,89,31,0.85);*/
	background: rgba(114,96,27, 0.5);

	padding: 3em 0em;
}

.question-wrapper {
	padding: 1em .5em;

	/*background: orange;*/

	/*border: dashed 1px grey;*/
	border-left-width: 0;
	border-right-width: 0;

	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 2fr repeat(5, 1fr);

	/*grid-template-columns: 3fr repeat(5, 1fr) 3fr;
	grid-template-rows: 1fr 1fr;*/
	text-align: left;

	grid-row-gap: 0.5rem;
	margin-bottom: 2em;
}

.question {
	grid-column: 1/-1;
	grid-row: 1/2;

	letter-spacing: 1px;
	line-height: 1.2;
	margin-left: 1em;
}

.question-wrapper label {
	font-weight: normal;

	/*border: solid 1px grey;*/
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 0.2rem;
}

.question-wrapper label span {
	margin-left: 1.5em;
	color: rgba(144, 121, 34, 0.9);
}

input[type="radio"] {
	width: 15px;
	height: 15px;

	background: rgba(129,140,60,1);

	/*margin-left: 2rem;*/
	margin-bottom: 0;
}

img.cinghiale {
	height: 100px;

	grid-row: 1/-1;
	grid-column: 2/3;
	/*-webkit-transform: scaleX(-1);
    transform: scaleX(-1);*/
}

img.cinghialeright {
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    grid-column: 4/5;

    display: inline-block;
}


.footer, .footer p {
	grid-area: footer;

	background: grey;
	color: white;

	border-top: solid 1px grey;

	font-family: sans-serif;
	font-size: 8pt;
	text-align: center;

	margin: 0.1em;
}

.footer a {
	text-decoration: none;
	color: white;
	margin: 0.1em;
}

/* MEDIA QUERIES */

@media only screen 
    and (max-width: 450px) {
    	body {
    		grid-template-columns: [header-start content-start footer-start] 1fr [content-end footer-end header-end];
    	}

    	.header {
			grid-area: header;

			border-bottom: solid 1px black;
			background: rgba(89,58,14, 0.85);
			color: rgba(129,140,60,0.85);

			display: grid;
			grid-template-columns: 1fr 4fr;
			grid-template-rows: 1fr 2fr;
		}

		.title {
			font-size: 1rem;
			padding-top: 0.3rem;
			padding-left: 1.5rem;
			grid-column: 2/-1;
			grid-row: 1/2;
			text-align: left;
		}

		.title2 {
			grid-column: 2/-1;
			grid-row: -1/-2;
			font-size: 2rem;
			padding-top: 0.2rem;
		}

		.titlemobile {
			display: inline;
		}

		.titledesktop {
			display: none;
		}

    	img.cinghiale {
    		height: auto;
			width: 70px;
			grid-row: 1/-1;
			grid-column: 1/2;
			padding-top: 1em;
			padding-left: 0.5em;
		}

		img.cinghialeright {
			display: none;
		}		

		.content {
			background: transparent;
			color: rgba(144, 121, 34, 1);
			font-weight: bold;
			padding: 0;
		}

		.question-wrapper {
			border-bottom: solid 2px rgba(89,58,14, 0.85);
			margin-bottom: 0;
		}

    	.footer {
    		background: gray;
    		color: white;

    		grid-row: -1/-2;
    		grid-column: 1/-1;

    		font-family: sans-serif;
    		font-size: 8pt;
    		text-align: center;
    	}

    	.footer a {
    		color: white;
    	}
    }


/*
	320-360 * 640

	320-414 * 480-812
*/
